<%- layout('layouts/main.ejs') %>

    <body class="fondo">
        <div class="container">
            <div class="logo">
            
            </div>
            <form class="formulario">
                <h1>Sistema Punto de venta</h1>
                <h3 class="">
                  ¡Bienvenido!<br>
                  Si ya tienes cuenta, inicia sesión.<br>
                  Si no, registrate para comenzar a usar el sistema.
            </form>
        </div>

    </body>