<%- layout('layouts/main.ejs') %>

    <body class="sistema">

        <div class="card card-body">
            <h4 class="text-color: #fffff">Bienvenido: <%= user.email %>
            </h4>
        </div>
    </body>